/* Body */
body{
    display: flex;
    flex-direction: column;
    font-family: 'CrimsonText';
    margin: 0;
    padding: 0;
}

/* Fonts */
@font-face {
    font-family: "EmilyCandy";
    src: url('/fonts/EmilysCandy-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "CrimsonText";
    src: url('/fonts/CrimsonText-Regular.ttf') format('truetype');
}
/* Header */
#header {
    background-color: #0a91e7;
    color: white;
    padding: 50px 20px 50px 30px;
}

#header img{
    /*Hiding the image until we find one we like*/
    display: none;
    width: 200px;
    height: 300px;
    float: right;
}

#header h1, h3{
    font-size: 30px;
    font-weight: bold;
    font-family: 'EmilyCandy';
}

#header h1::first-letter{
    font-size: 40px;
}

#space{
    margin-bottom: 50px;
}

#header p{
    color: white;
    font-size: 20px;
    margin-top: 20px;
}

#signup{
    display: block;
    margin-top: 10px;
    background-color: #4ea74f;
    border-radius: 10px;
    color: white;
    padding: 10px 24px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#signup:hover{
    background-color: #7ed321;
}

#header div{
    clear: right;
    margin-top: 0px;
}
/* Navbar */
.container{
    background-color: #ececee;
    display: flex;
}

.link {
    margin-left: 250px;
    font-size: 20px;
    margin-bottom: 0px ;
}
   
.link a{
    background-color: #4ea74f;
    text-decoration: none;
    color: white;
    margin: 10px;
    padding: 8px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.link a:hover {
    background-color: #7ed321;
}

.link a.active {
    background-color: #2980b9;
}

/* Footer */
footer {
	position: absolute;
	width: 100%;
	height: 37%;
	bottom: 0;

    background-color: #262BD4;
    border-top: 2px solid black;
}
                                                                                                      
.footerInfo {
	position: relative;
	display: inline-block;
	margin-left: calc(50% - 30pt);
}

    
.infoGroup {
	position: relative;
    font-weight: bold;
    color: white;

	background-color: #242785;
	border-radius: 20pt;
	padding: 10pt;

	top: 10pt;
}


.info {
	background-color: #242785;
	margin-left: calc(50% - 180pt);

	position: relative;
	width: fit-content;
	padding: 10pt;	
	border-radius: 10pt;
	
	border-style: solid;
	border-color: black;
	border-width: thin;
}


p {
    display: inline;
    color: white;
}



/* Link Styles */

a {
	text-decoration: none;
}

a:hover {
	color: purple;
}
